{% extends "base.html" %}

{% block content %}

<div class="col-md-6 offset-md-3">
    <br/>

    {% if user.is_authenticated %} <!-- if the user is authenticated-->

    <h1> Hello World!</h1>

    {% else %} <!--if the user not authenticated-->

    <h1>Login</h1>
    <br/>
    <form method="POST" action="{% url 'home' %}"> 
        {% csrf_token %}
        <div class="mb-3">
        <label class="form-label">username</label>
        <input type="text" class="form-control" name="username" required>
        <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
        </div>
        <div class="mb-3">
        <label class="form-label">Password</label>
        <input type="password" class="form-control" name="password" required>
        </div>
        <!-- <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div> -->
        <button type="submit" class="btn btn-secondary">Submit</button>
    </form>

    {% endif %}
</div>

{% endblock %}